{% layout none %}
<!doctype html>
{%- liquid
    if settings.list_iso_rtl != blank
        assign locale_iso_code = request.locale.iso_code
        assign arr_list_rtl = settings.list_iso_rtl | remove:' ' | split:',' 
        if arr_list_rtl contains locale_iso_code
            assign enable_iso_rtl = true
        else
            assign enable_iso_rtl = false
        endif
    endif
-%}
<html class="no-js full-height" lang="{{ request.locale.iso_code }}">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <meta name="theme-color" content="">
        <link rel="canonical" href="{{ canonical_url }}">
        <link rel="preconnect" href="https://cdn.shopify.com" crossorigin>
        {%- unless settings.type_header_font.system? -%}
            <link rel="preconnect" href="https://fonts.shopifycdn.com" crossorigin>
        {%- endunless -%}
        <title>{{ shop.name }}</title>
        <meta name="description" content="{{ page_description | escape }}">
        {% render 'meta-tags' %}
        {{ content_for_header }}


        {% render 'variable' %}
        {{ 'base.css' | asset_url | stylesheet_tag }}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.countdown/2.2.0/jquery.countdown.min.js" defer></script>
        {% render 'global-script' %}

        {%- if settings.enable_layout_rtl -%}
            {{ 'layout_rtl.css' | asset_url | stylesheet_tag }}
        {%- endif -%}
    </head>

    <body class="password-template{% if settings.enable_layout_rtl and enable_iso_rtl %} layout_rtl{% endif %}">
        {{content_for_layout}}
    </body>

</html>

<style>
/* BAHAMII CUSTOM STYLES ---> */
.snack-txt {
    color: #FFF200;
}
.password-page.password-template {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.password-page .password-content {
    background: #ED1068;
    height: auto;
    width: 100vw;
    flex-direction: row-reverse;
}

.password-page .password-content .password-contentItem {
    display: flex;
    height: 100%;
    padding: 0;
}

.password-page .password-content .password-contentItem.password-contentLeft {
    padding: 20px;
}

.password-page .password-content .password-contentItem.password-contentLeft > * {
    margin: 20px 0;
}

.password-page .password-title {
    color: #FFF;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: 123.4%;
    text-align: left;
}

.password-page .password-subtitle {
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
    text-align: left;
}

.password-page .logo-img {
    display: flex;
    justify-content: center;
}

.password-page .logo-img img{
    
}

.password-page .password-body {
    width: 100%;
    margin: 0;
    max-width: none;
    align-items: flex-start !important;
}

.password-page .password-banner img {
    width: 800px;
    min-width: 800px;
    padding: 35px 35px 0 0;
}

.newsletter {
    max-width: 535px;
}

.password-page #NewsletterForm--Popup {
    border: none;
}

.button.button-3.newsletter-form__button {
    color: black;
    text-transform: none;
    background: linear-gradient(90deg, #B5B5B5 0%, #F5B21F 100%);
}


@media (max-width: 1040px) {
    .password-page.password-template {
        height: auto;
    }

    .password-page .password-content {
        flex-direction: column-reverse;
    }

    .password-page .password-content .password-contentItem {
        flex-direction: column;
    }
    .password-page .password-banner img {
        width: 100%;
        min-width: unset;
    }
}
/* <--- BAHAMII CUSTOM STYLES */
</style>