{% assign product_title_lowercase = product.title | downcase %}
{% assign product_title_hyphenated = product_title_lowercase | replace: ' ', '-' %}
{% assign side_image_url = "https://cdn.shopify.com/s/files/1/0514/4625/1706/files/" | append: product_title_hyphenated | append: "-label-vertical.png" %}
{% assign nutrition_label_url = "https://cdn.shopify.com/s/files/1/0514/4625/1706/files/" | append: product_title_hyphenated | append: "-nutrition.svg" %}

<div class="nutrition-shopify-section">
  <div class="nutrition-label-section">
    <div class="nutrition-label-content-wrapper">
        <img
          src="{{ side_image_url }}"
          class="side-image"
          alt="Bar Image">
        <img
          src="{{ nutrition_label_url }}"
          class="nutrition-label-image"
          alt="Nutrition Label">
    </div>
  </div>

  <div class="ingredients-section">
    <div class="ingredients-text-wrap">
        <h2>{{ product.title }}</h2>
        <div class="ingredients-text">
          {% if product.title == "Chocolate Almond" %}
            {{ section.settings.chocalmond_ingredients_text }}
          {% endif %}
          {% if product.title == "Coconut Vanilla" %}
            {{ section.settings.cocovan_ingredients_text }}
          {% endif %}
          {% if product.title == "Honey Cinnamon" %}
            {{ section.settings.honcinn_ingredients_text }}
          {% endif %}
        </div>
    </div>
    <div class="additional-info-wrap">
      {% if section.settings.additional_info != blank %}
        <div class="additional-info">
          {{ section.settings.additional_info }}
        </div>
      {% endif %}
    </div>
  </div>
</div>

<style>
  .nutrition-shopify-section {
    display: flex;
    background: #FACAD3;
    padding: 50px 0;
  }

  .nutrition-shopify-section .nutrition-label-section {
    width: 53.25%;
    display: flex;
    justify-content: flex-end;
  }

  .nutrition-shopify-section .nutrition-label-content-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nutrition-shopify-section .nutrition-label-section .side-image {
    margin: 0 20px;
    width: 39%;
    max-width: 275px;
  }

  .nutrition-shopify-section .nutrition-label-section .nutrition-label-image {
    margin: 0 20px;
    width: 46%;
    max-width: 333px;
  }

  .nutrition-shopify-section .ingredients-section {
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .nutrition-shopify-section .ingredients-text-wrap {
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
    max-width: 475px;
  }

  .nutrition-shopify-section .additional-info-wrap {
    max-width: 475px;
  }

  .nutrition-shopify-section .ingredients-text-wrap h2 {
    color: #000;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 12px;
  }

  .nutrition-shopify-section .ingredients-text {}

  .nutrition-shopify-section .ingredients-text p {
    color: #000;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    text-transform: uppercase;
    margin-top: 20px;
    margin-bottom: 0;
  }

  .nutrition-shopify-section .additional-info-wrap {}

  .nutrition-shopify-section .additional-info p {
    color: #000;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
  }

  @media (max-width: 1024px) {
    .nutrition-shopify-section {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .nutrition-shopify-section .nutrition-label-section .side-image {
      margin-left: 0;
    }

    .nutrition-shopify-section .nutrition-label-section .nutrition-label-image {
      margin-right: 0;
    }

    .nutrition-shopify-section .nutrition-label-section {
      width: 100%;
      justify-content: center;
    }

    .nutrition-shopify-section .nutrition-label-content-wrapper {
      width: 58%;
    }


    .nutrition-shopify-section .ingredients-text-wrap {
      width: 58%;
      max-width: unset;
    }

    .nutrition-shopify-section .additional-info-wrap {
      width: 58%;
      max-width: unset;
    }

    .nutrition-shopify-section .ingredients-text-wrap h2 {
      line-height: 50px;
      margin-top: 20px;
    }

    .nutrition-shopify-section .ingredients-section {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }

  @media (max-width: 767px) {
    .nutrition-shopify-section .nutrition-label-content-wrapper {
      width: 95%;
    }

    .nutrition-shopify-section .ingredients-text-wrap {
      width: 95%;
      max-width: unset;
    }

    .nutrition-shopify-section .additional-info-wrap {
      width: 95%;
      max-width: unset;
    }

    .ingredients-text *,
    .additional-info * {
      font-size: 16px !important;
    }
  }
</style>

{% schema %}
  {
    "name": "Nutrition",
    "settings": [
      {
        "type": "richtext",
        "id": "chocalmond_ingredients_text",
        "label": "Chocolate Almond Ingredients"
      },
      {
        "type": "richtext",
        "id": "cocovan_ingredients_text",
        "label": "Coconut Vanilla Ingredients"
      },
      {
        "type": "richtext",
        "id": "honcinn_ingredients_text",
        "label": "Honey Cinnamon Ingredients"
      },
        {
        "type": "richtext",
        "id": "additional_info",
        "label": "Additional Info",
        "default": "<p>Any additional information...</p>"
      }
    ],
    "presets": [
      {
        "name": "Nutrition",
        "category": "Custom"
      }
    ]
  }
{% endschema %}