<div class="why-dates-section" style="background-image:url('{{ section.settings.bg_image | img_url: 'master' }}');background-repeat: no-repeat; background-size: contain;">
  <div class="top-wrapper">
    <h1 class="section-heading">{{ section.settings.heading }}</h1>
    <div class="description-text-container">{{ section.settings.description_text }}</div>
    <div class="badges-container">
      {% for block in section.blocks %}
        {% if block.type == 'image' %}
          <img src="{{ block.settings.badge_image | img_url: 'master' }}" alt="Badge">
        {% endif %}
      {% endfor %}
    </div>
  </div>
  <h1 class="table-header">{{ section.settings.table_header }}</h1>
  <div class="compare-table-wrap">
    <div class="compare-table">
      <div class="left">
        <div class="text-item-container">
          {% for block in section.blocks %}
            {% if block.type == 'left_text' %}
              <div class="text-item">{{ block.settings.text }}</div>
            {% endif %}
          {% endfor %}
        </div>
        <div class="left-image-container">
          <img src="{{ section.settings.left_image | img_url: 'master' }}" alt="Left Image">
        </div>
      </div>
      <div class="right">
        <div class="right-image-container">
          <div class="text-item right-image-heading">Traditional Bar</div>
          <img src="{{ section.settings.right_image | img_url: 'master' }}" alt="Right Image">
        </div>
        <div class="text-item-container">
          {% for block in section.blocks %}
            {% if block.type == 'right_text' %}
              <div class="text-item">{{ block.settings.text }}</div>
            {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>


<style>
  .why-dates-section {
    display: flex;
    flex-direction: column;
  }

  .top-wrapper {
    padding: 40px 260px;
  }

  .section-heading {
    color: #110A0A;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  .description-text-container {
    color: #110A0A;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-bottom: 15px;
  }

  .badges-container {
    display: flex;
    justify-content: space-between;
  }

  .table-header {
    text-align: center;
    color: #110A0A;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  .compare-table-wrap {
    padding-top: 10px;
    padding-bottom: 50px;
  }

  .compare-table {
    display: flex;
    justify-content: center;
    height: 41vw;
  }

  .left,
  .right {
    display: flex;
    align-items: center;
  }

  .left {
    justify-content: flex-end;
    padding-right: 100px;
  }

  .right {
    justify-content: flex-start;
  }

  .text-item-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 35%;
    height: 100%;
  }

  .right .text-item-container {
    width: 35%;
    height: 75%;
  }

  .text-item {
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 38px;
  }

  .left .text-item {
    text-align: right;
  }

  .right .text-item {
    text-align: left;
    color: #6C6669;
  }

  .left-image-container,
  .right-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
  }

  .left-image-container img,
  .right-image-container img {
    max-width: 87%;
  }

  .right-image-container {
    flex-direction: column;
  }

  .right-image-container img {
    width: 71%;
  }

  @media (max-width: 1024px) {
    .section-heading {
      margin-top: 20px;
      margin-bottom: 20px;
    }

    .top-wrapper {
      padding: 15px;
    }

    .badges-container {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .badges-container img {
      width: 50%;
    }

    .description-text-container {
      padding-bottom: 25px;
    }


}


</style>

{% schema %}
  {
    "name": "Why Dates",
    "settings": [
      {
        "type": "text",
        "id": "heading",
        "label": "Heading Text",
        "default": "Enter Text"
      },
      {
        "type": "text",
        "id": "description_text",
        "label": "Description Text",
        "default": "Enter Text"
      },
      {
        "type": "text",
        "id": "table_header",
        "label": "Table Header Text",
        "default": "Enter Text"
      },
      {
        "type": "image_picker",
        "id": "bg_image",
        "label": "Background Image"
      }, {
        "type": "image_picker",
        "id": "left_image",
        "label": "Left Image"
      }, {
        "type": "image_picker",
        "id": "right_image",
        "label": "Right Image"
      }
    ],
    "blocks": [
      {
        "type": "image",
        "name": "Badge Image",
        "settings": [
          {
            "type": "image_picker",
            "id": "badge_image",
            "label": "Upload Badge"
          }
        ]
      }, {
        "type": "left_text",
        "name": "Left Column Text Item",
        "settings": [
          {
            "type": "text",
            "id": "text",
            "label": "Text Content"
          }
        ]
      }, {
        "type": "right_text",
        "name": "Right Column Text Item",
        "settings": [
          {
            "type": "text",
            "id": "text",
            "label": "Text Content"
          }
        ]
      }
    ],
    "max_blocks": 40,
    "presets": [
      {
        "name": "Why Dates",
        "category": "Custom"
      }
    ]
  }
{% endschema %}